<div id="headerwrap" name="home">
      <section class="container mt-5">
          <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                  <div class="card-body text-center">
                      <h5 class="card-title">
                        <i class="fa-solid fa-envelope" style="color: #FFD43B;"></i>
                        &nbsp; priscilac.campos@outlook.com
                      </h5>
                  </div>
                </div>

                  <div class="card mb-4">
                      <div class="card-body text-center">
                        <a href={{this.linkedinURL}} target="blank">
                          <h5 class="card-title">
                            <i class="fa-brands fa-linkedin fa-2x" style="color: #FFD43B;"></i>
                            &nbsp; LinkedIn
                          </h5>
                        </a>

                      </div>
                  </div>

                  <div class="card mb-4">
                    <a href={{this.githubURL}} target="blank">
                      <div class="card-body text-center">
                          <h5 class="card-title">
                            <i class="fa-brands fa-github fa-2x" style="color: #FFD43B;"></i>
                            &nbsp; GitHub
                        </h5>
                      </div>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 d-flex align-items-center justify-content-center">
                  <img src="assets/perfil2.jpg" alt="Priscila Campos picture" class="profile-pic">
              </div>

          </div>

      </section>

</div>
<div class="div-pattern2"></div>



