<div class="div-collection"></div>
<section class="hero-section">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div>
            <select name="selectedField" [(ngModel)]="selectedField" class="form-select form-select-m mb-3">
              <option value="" disabled selected hidden>Choose an option</option>
              <option *ngFor="let o of options" [ngValue]="o.value">{{o.name}}</option>
            </select>
          </div>
          <div class="mb-1">
            <input type="text" name="userInput" class="form-control" [(ngModel)]="userInput" (ngModelChange)="findBy()">
          </div>
            <div class="text-end">
              <button type="button" class="btn btn-warning">Search</button>
            </div>
        </form>
      </div>
  </div>
  <div class="div-form"></div>
</section>

<div class="div-collection"></div>

<section  bg-dark class="page-section darkBg pDark">
  <div class="container mt-3">
    <h1 class="responsive-headline text-center text-light">Lumus Collection</h1>
  </div>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-50">
        <div class="card-deck">
          <section *ngFor="let volume of volumes" class="page-section darkBg pDark">
            <div class="card bg-dark">
              <div class="card-body">
                <h5 class="card-title text-light">
                  <span *ngIf="roleUser">
                    <span *ngIf="userFavorites.includes(volume.volumeId)">
                      <button (click)="removeFavorite(volume.volumeId)" class="btn">
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                      </button>
                    </span>
                    <span *ngIf="!(userFavorites.includes(volume.volumeId))">
                      <button (click)="addToFavorite(volume.volumeId)" class="btn">
                        <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
                      </button>
                    </span>
                  </span>
                  {{volume.title}}
                </h5>
                <span class="card-text">{{volume.authors.join(', ')}}</span>
                <p>ISBN10: {{volume.isbn10}} | ISBN13: {{volume.isbn13}} </p>
                <p>{{volume.publishedDate}}</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

</section>
