<div class="div-collection"></div>
<section class="hero-section">

  <div class="div-form"></div>
      <div class="container-xl">
        <form>
          <div>
            <select name="selectedField" [(ngModel)]="selectedField" class="form-select form-select-m mb-3">
              <option name="Search by.." value="Search by.." disabled selected>Search by..</option>
              <option *ngFor="let o of options" [ngValue]="o.value">{{o.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <input type="text" name="userInput" class="form-control" [(ngModel)]="userInput" (ngModelChange)="findBy()">
          </div>
            <div class="text-end">
              <button type="button" class="btn btn-warning">Search</button>
            </div>
        </form>
      </div>
    <div class="div-form"></div>
      <div class="container">
        <h1 class="responsive-headline text-center">Lumus Collection</h1>
      </div>
</section>

<div class="div-collection"></div>

<section  bg-dark *ngFor="let volume of volumes" class="page-section darkBg pDark">
  <div class="card bg-dark">
    <div class="card-body">

      <h5 class="card-title text-light">
        <span *ngIf="validToken">
          <button (click)="addToFavorite(volume.volumeId)" class="btn">
            <i class="fa-regular fa-star" style="color: #FFD43B;"></i> &nbsp;&nbsp;
          </button>
        </span>
        {{volume.title}}
      </h5>

      <span class="card-text">{{volume.authors.join(', ')}}</span>
      <p>ISBN10: {{volume.isbn10}} | ISBN13: {{volume.isbn13}} </p>
      <p>{{volume.publishedDate}}</p>
    </div>
  </div>
</section>

